<h1>Movies</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Title</th>
      <th>Released</th>
      <th>Tagline</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <%- @movies.each do |movie| %>
      <tr>
        <td><%= link_to movie.title, movie_path(movie) %></td>
        <td><%= movie.released_on %></td>
        <td><%= movie.tagline %></td>
        <td><%= link_to 'Edit', edit_movie_path(movie) %><td>
      </tr>
    <%- end %>
  </tbody>
</table>

