%h1 Movies

%table.table.table-striped
  %thead
    %tr
      %th Title
      %th Released
      %th Tagline
      %th Actions
  %tbody.preview-table
    = render @movies

#movie-window-template
  .movie-info
    %h1 {title}
    %img{:src => '{poster_url}'}

= paginate @movies
